/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*自訂css reset*/
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
*, *:before, *:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:focus{
	outline: none;
}

/*自訂css開始*/
body{
	background-image: url('../img/raban-haaijk-118657-unsplash.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 微軟正黑體;
}
.wrap{
	max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 10px;
}

/*header css*/
.header{
	display: flex;
	flex-direction: column;
	align-items: center;	
}
h1{
	display: block;
	text-align: center;
	margin: 50px 0 50px 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
	-webkit-filter: drop-shadow(2px 2px 2px #424242);
	filter: drop-shadow(2px 2px 2px #424242); 
}
h1 span{
	display: none;
}
select{
	width: 300px;
	height: 50px;
	margin-bottom: 50px;
	border: 3px solid #FFFFFF;
	border-radius: 3px;
	background: rgba(255,255,255,0.70) url('../img/icons_down.png') no-repeat 98% 50%;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-left: 9px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}
select:hover{
	background-color: rgba(255,255,255,0.80);
}
select:active{
	background-position: 98% 60%;
}
/*header media css*/
@media (max-width: 812px){	/*iPhoneX 橫式*/

}
@media (max-width: 768px){	/*iPad 直式*/

}
@media (max-width: 767px){
	h1{
		margin: 20px 0 20px 0;
	}
	select{
		margin-bottom: 22px;
	}	
}
@media (max-width: 736px){	/*iPhone678 plus 橫式*/

}
@media (max-width: 667px){	/*iPhone678 橫式*/

}
@media (max-width: 568px){	/*iPhone5 橫式*/
	h1 span{
		display: block;
		font-size: 0;
	}
}
@media (max-width: 414px){	/*iPhone678 plus 直式*/
				
}
@media (max-width: 375px){	/*iPhone678X 直式*/

}
@media (max-width: 320px){	/*iPhone5 直式*/
	h1{
		font-size: 28px;
	}
}

/*content css*/
.content{
	max-width: 1000px;
	margin: 0 auto 30px auto;
	display: flex;
}
#mapId{
	width: 50%;
	height: 500px;
	border: 1px solid #000;
	margin-right: 1%;
}
.detail{
	width: 49%;
	height: 500px;
	background-color: rgba(255, 255, 255 , 0.5);
	border: 1px solid #000;
}
h2{
	display: none;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	padding: 10px 0;
	background-color: rgba(71, 55, 55, 0.8);
	border-bottom: 1px solid #000;
	box-shadow: 2px 2px 2px 2px rgb(206, 190, 173) inset, -2px -2px 2px 2px rgb(206, 190, 173) inset;
}
#remindTextId{
	position: relative;
	top: 45%;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	-webkit-filter: drop-shadow(2px 2px 2px #424242);
	filter: drop-shadow(2px 2px 2px #424242); 
}
.listClass{
	height: 443px;
	overflow: auto;
}
.listClass > li{
	display: flex;
	background: linear-gradient(rgba(162, 214, 119, 0.8), rgba(72, 132, 22, 0.8));
	cursor: pointer;
}
.listClass > li:hover{
	background: linear-gradient(rgba(162, 214, 219, 0.9), rgba(72, 132, 122, 0.9));
}
.listClass > li:active{
	background: linear-gradient(rgba(162, 192, 219, 0.9), rgba(72, 100, 132, 0.9));
}
.listClass .background-linearGradient{
	background: linear-gradient(rgba(162, 192, 219, 0.9), rgba(72, 100, 132, 0.9));
	box-shadow: 2px 2px 2px 2px rgba(144, 67, 165, 0.6) inset, -2px -2px 2px 2px rgba(144, 67, 165, 0.6) inset;
}
.listClass > li > span{
	font-size: 30px;
	font-weight: bold;
	color: #a80000;
	width: 14.3%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.listClass ul{
	width: 84%;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
}
.listClass ul li{
	margin-bottom: 10px;
}
.speedLimit{
	color: #e80202;
	font-size: 20px;
	-webkit-filter: drop-shadow(1px 1px 1px #e80202);
	filter: drop-shadow(1px 1px 1px #e80202); 
}
/*content media css*/
@media (max-width: 812px){	/*iPhoneX 橫式*/

}
@media (max-width: 768px){	/*iPad 直式*/

}
@media (max-width: 767px){
	.content{
		margin: 0 auto 15px auto;
	}						
	.listClass > li > span{
		font-size: 24px;
	}
}
@media (max-width: 736px){	/*iPhone678 plus 橫式*/

}
@media (max-width: 667px){	/*iPhone678 橫式*/
	.detail{
		display: none;
	}
	#mapId{
		width: 98%;
		margin: 0 auto;
	}
}
@media (max-width: 568px){	/*iPhone5 橫式*/

}
@media (max-width: 414px){	/*iPhone678 plus 直式*/

}
@media (max-width: 375px){	/*iPhone678X 直式*/
}
@media (max-width: 320px){	/*iPhone5 直式*/
}

/*footer css*/
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	-webkit-filter: drop-shadow(2px 2px 2px #424242);
	filter: drop-shadow(2px 2px 2px #424242); 
}
.footer a{
	color: #fff;
	text-decoration: underline;
}
.footer a:hover{
	color: #333333;
	-webkit-filter: drop-shadow(2px 2px 2px #fff);
	filter: drop-shadow(2px 2px 2px #fff); 
}
/*footer media css*/
@media (max-width: 812px){	/*iPhoneX 橫式*/

}
@media (max-width: 768px){	/*iPad 直式*/

}
@media (max-width: 767px){

}
@media (max-width: 736px){	/*iPhone678 plus 橫式*/

}
@media (max-width: 667px){	/*iPhone678 橫式*/

}
@media (max-width: 568px){	/*iPhone5 橫式*/

}
@media (max-width: 414px){	/*iPhone678 plus 直式*/

}
@media (max-width: 375px){	/*iPhone678X 直式*/
}
@media (max-width: 320px){	/*iPhone5 直式*/
}